@import "tailwindcss";

body{
  background-color: #fff;
}

#navBar {
  color: white;
  transition: background 0.5s ease;
  /* background-color: transparent; */

  & * {
    /* font-size: clamp(10px, 1vw, 14px); */
    font-size: 14px;
  }

  &:hover {
    background-color: rgb(0, 0, 0) !important;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#heroBg {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    pointer-events: none;
    
  }
}

footer{
  animation-name: come;
  animation-timeline: scroll(y);
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-range: 200px 700px;
}

@keyframes come{
  from{
    bottom: -200px;
    scale: 0.9;
  }
  to{
    bottom: 0px;
    scale: 1;
  }
}
